.App {
  text-align: center;
  color: #003E52;
  font-family: 'Lato', sans-serif;
}
.ResponsiveContainer {
  margin: 15vh 0 0;
}
.DatepickerWrapper {
  position: relative;
  margin: 20vh 0 0;
}
.DatepickerImg {
  position: absolute;
  width: 8vw;
  top: 0;
  left: 0;
  z-index: 1;
}
.DatepickerImg-hover {
  position: absolute;
  width: 8vw;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.DatepickerImg-hover:hover {
  opacity: 1;
}
.Datepicker-txt {
  padding: 1vh 0 0 15vw;
}

